input/The IQ-OTHNCCD lung cancer dataset
input/2121218_Lung_Nodule_data/512x512_image_data.npy
input/2121218_Lung_Nodule_data/512x512_target_data.npy
input/2121218_Lung_Nodule_data.zip
input/mask_rcnn_coco.h5
input/localisation_data/512x512_image_data.npy
input/localisation_data/512x512_target_data.npy
input/1-038.dcm
README.md
